.card.card-flex.card:hover{
  cursor: pointer;
}

.card {
  margin-top: 20px;
}

.card.card-flex .card-body {
  display: flex;
}

.card.card-flex .card-logo {
  width: 100px;
  height: 100px;
}

.card.card-flex .card-description {
  margin-left: 20px;
}