.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.class-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.logoHome {
  margin-bottom: 50px;
}

.button-login {
  width: 100%;
}